@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--theia-foreground));
  background: rgb(var(--theia-background));
}

.main-content-panel {
  background: rgb(var(--theia-main-content-panel));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
