.toolbar-wrapper {
  background-color: var(--theia-editor-background);
  font-weight: bold;
  color: var(--theia-editor-foreground);
}
.theia-no-open-workspace #theia-statusBar {
  background-color: var(--theia-editor-background);
  font-size: larger;
  font-weight: bold;
  color: var(--theia-editor-foreground);
}

.p-Widget.p-DockPanel-widget.ps {
  background-color: var(--theia-editor-background) !important;
  border-left: 1px solid var(--theia-editorWidget-border) !important;
  border-right: 1px solid var(--theia-editorWidget-border) !important;
  color: var(--theia-editor-foreground);
}

.p-Widget.theia-sidepanel-toolbar.theia-right-side-panel.p-BoxPanel-child {
  background-color: var(--theia-editor-background);
}

.p-Widget.theia-sidepanel-toolbar.theia-right-side-panel.p-BoxPanel-child {
  background-color: var(--theia-editor-background) !important;
}
.p-TabBar-content-container {
  background: var(--theia-editor-background) !important;
  border-left: 1px solid var(--theia-editorWidget-border) !important;
}

#theia-main-content-panel,
#theia-main-content-panel .p-Widget.p-DockPanel-widget {
  background: var(--theia-editor-background) !important;
}
.kb-label {
  color: var(--theia-settings-textInputForeground) !important;
}
.kb table th {
  color: var(--theia-editor-foreground) !important;
}
.p-Widget.p-Panel.p-SplitPanel {
  padding-top: 10px !important;
  background-color: var(--theia-editor-background) !important;
  color: var(--theia-editor-foreground);
}
.toolbar-column.left {
  display: none;
}
/* .p-TabBar-tab.p-mod-closable {
  display: none;

} */
.p-Widget.p-TabBar-toolbar.ps {
  height: 40px !important;
}
.item.enabled.toolbar-item.action-label {
  border-radius: 8px;
  padding-left: 8px !important;
  padding-right: 8px !important;

  font-size: 14px !important;
  height: 31px;

  border: 1px solid var(--theia-editorWidget-border);
}
.p-TabBar.theia-app-sides .p-TabBar-tabIcon {
  font-size: 14px !important;
}
.theia-mod-offline #theia-statusBar .area .element {
  color: var(--theia-editor-foreground);
}
.theia-tabBar-tab-row {
  background-color: var(--theia-editor-background);
  border-left: 1px solid var(--theia-editorWidget-border);
  border-right: 1px solid var(--theia-editorWidget-border);
  color: var(--theia-editor-foreground);
}
.toolbar-item {
  background-color: var(--theia-editor-background);
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  gap: 4px;
  padding: 0px !important;
  margin: 8px !important;
}

.toolbar-column {
  display: flex;
  align-items: center;
  gap: 10px;
}
