.p-Widget.p-DockPanel-widget.ps {
  background-color: var(--theia-editor-background) !important;
  border-left: 1px solid var(--theia-editorWidget-border) !important;
  border-right: 1px solid var(--theia-editorWidget-border) !important;
  color: var(--theia-editor-foreground);
}

.p-Widget.p-Panel.p-SplitPanel {
  padding-top: 10px !important;
  background-color: var(--theia-editor-background) !important;
  color: var(--theia-editor-foreground);
}
.p-TabBar-content-container {
  background: rgb(var(--theia-main-content-panel));
  border-left: 1px solid var(--theia-editorWidget-border) !important;
}
.toolbar-column.left {
  display: none;
}
/* .p-TabBar-tab.p-mod-closable {
  display: none;

} */

.p-TabBar.theia-app-sides .p-TabBar-tabIcon {
  font-size: 14px !important;
}
.theia-mod-offline #theia-statusBar .area .element {
  color: rgb(113 113 122);
}
.theia-tabBar-tab-row {
  background-color: var(--theia-editor-background) !important;
  border-left: 1px solid var(--theia-editorWidget-border) !important;
  border-right: 1px solid var(--theia-editorWidget-border) !important;
  color: var(--theia-editor-foreground);
}
.toolbar-column {
  display: flex;
  align-items: center;
  gap: 10px;
}
